<!DOCTYPE html>
<html>
	<head>
		<title>CMS APP</title>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<%= image_tag("logo.png", :alt => "logo", :id => 'logo') %><br>
		<h1>Demo</h1>
		<h2>Test</h2>
		<p>This is a CMS APP.</p>
		<footer>copyright@2015</footer>
	</body>
</html>

